.footer {
    width: 100%;
    background: #262626;
}

.footer__content {
    max-width: 1200px;
    margin: 0 auto;
    color: #b9b9b9;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 32px 0;
}

.footer__span {
    color: red;
}