.section__services {
    background: #70bfff;
}

.services__content {
    display: flex;
    justify-content: center;
}

.services__items {
    position: relative;
    max-width: 420px;
    margin-top: 180px;
    margin-right: 210px;
    margin-bottom: 150px;
}

.services__button {
    width: 400px;
    height: 100px;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0,0.5));
    background-color: #ffffff;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 27px;
    color: #262626;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.services__item img {
    width: 47px;
    height: 43px;
    flex: 25%;
}

.services__button::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100px;
    top: 0px;
    left: 300px;
    z-index: 10;
    background: #9d9d9d;
}

.services__item span {
    flex: 75%;
    font-size: 20px;
    line-height: 27px;
    color: #262626;
    font-weight: 700;
    font-family: "Raleway";
}

.services__item a {
    text-decoration: none;
}

.services__right-block {
    margin-top: 104px;
    position: relative;
}

.services__right-block_title {
    position: absolute;
    top: 245px;
    left: -80px;
    font-size: 90px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    width: 545px
}