h2{
  margin: 0;
  padding:0;
}
.section__subscribe {
  background: url(../assets/img/bg.svg.png) no-repeat;
}
.left {
  max-width: 1200px;
  margin: 0 auto;
}
.subscribe__text h2 {
  font-size: 40px;
  line-height: 27px;
  color: #262626;
  font-weight: 700;
  padding-top: 145px;
}
.subscribe__text p {
    max-width: 550px;
    margin: 35px 0;
    color: #262626;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
}
.subscribe__form {
  padding-bottom: 165px;
}

.mail {
  padding: 0;
  width: 570px;
  max-width: 570px;
  height: 52px;
  border-width: 1px;
  padding-left: 15px;
  box-sizing: border-box;
}
button.button-standart {
  width: 200px;
  height: 54px;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
  border: #ffffff;
}
button.button-standart--green {
  width: 170px;
  background-color: #96b92c;
  border-color: #96b92c;
  margin-left: 30px;
}
::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 27px;
  color: #262626;
  font-weight: 300;
  font-family: "Raleway";
}
.subscribe__img {
  /* position: absolute; */
  /* top: 25px;
  right: -129px;
  left: -148px; */
  /* z-index: -1; */
}
