@import "mixins";

.section__about {
  background-color: #00b0b0;
}

.about__content {
  background: url("../assets/img/about-img.png") left no-repeat;

  @media screen and (max-width: 1164px) {
    background: url("../assets/img/about-img.png") right no-repeat;
    background-position-x: 535px;  
  }
}

.about__descr {
  padding-left: 50%;
  max-width: 500px;
  color: #ffffff;

  &_title {
    line-height: 27px;
    padding-top: 220px;
    padding-bottom: 60px;

    @include media-screen-small {
      line-height: 80px;
    }
  }
  
  @media screen and (max-width: 1164px) {
    padding-left: 0;   
  }
}

.about__papagraph {
  padding: 0;
  padding-bottom: 22px;

  &:last-child {
    padding-bottom: 235px;
    margin: 0;
  }
}
