$content-width: 1200px;
$container-padding: 20px;

$contentColor: #262626;
$contentFont: "Raleway", sans-serif;
$logoFont: "Pacifico", sans-serif;

$screen-large: 1600px;
$screen-medium: 1280px;
$screen-tablet: 1024px;
$screen-small: 720px;
$screen-xs: 480px;
$screen-xxs: 400px;
