@import "mixins";

.section__subscribe {
  padding-bottom: 160px;
  background: url(../assets/img/bg.svg.png) center no-repeat;
}

.subscribe__text {
  padding: 0 20px;

  h2 {
    font-size: 40px;
    line-height: 27px;
    font-weight: 700;
    padding-top: 145px;

    @include media-screen-xs {
      line-height: 40px;
    }
  }

  p {
    max-width: 550px;
    margin: 35px 0;
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
  }
}

.subscribe__form {
  text-align: left;

  @include media-screen-tablet {
    text-align: center;
  }
}

.mail {
  padding: 0;
  width: 570px;
  max-width: 570px;
  height: 52px;
  border-width: 1px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-left: 15px;

  @include media-screen-small {
    width: 370px;
  }

  @include media-screen-xs {
    width: 250px;
  }

}

.button-standart--green {
    width: 170px;
    background-color: #96b92c;
    border-color: #96b92c;
    margin: 0 30px;

    @include media-screen-tablet {
      margin-top: 40px;
    }
}


::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
  font-family: "Raleway";
}
