@import "constants";

body {
    margin: 0;
    padding: 0;
}
  
.container {
    font-family: "Raleway", sans-serif;
    width: 100%;
    margin: 0 auto;
}

.content-container {
    margin: 0 auto;
    max-width: $content-width;
    padding: 0 $container-padding;
}

a {
    text-decoration: none;
    color: inherit;
}

.content__papagraph {
    font-size: 17px;
    padding: 50px 300px 0;
}

.standart-title {
    font-size: 90px;
    font-weight: 700;
    margin: 0;
}

.button-standart {
    width: 200px;
    height: 54px;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
    border: #ffffff;
    cursor: pointer;
  }

@import "about";
@import "gallery";
@import "subscribe";